*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.color{
    color: #6c68df;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 98%;
}
.text-size{
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(40, 40, 41);
}

.decor{
    margin-bottom: 30px;
    color: rgb(41, 40, 40);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to left bottom, #2921c7,#7773db);
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(236, 236, 236);
    font-weight: 500px;
}

.flexiable-container{
    display: flex;
    margin-bottom: 150px;
    margin-top: 150px;
}
.about-me{
    background-image: url(shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
}
.margin{
    margin-top: 15%;
}
.abt-margin{
    margin-bottom: 20px;
    font-size: 30px;
}
.btn-margin{
    margin-bottom: 50px;;
}
.p-margin{
    margin-bottom: 35px;
    margin-right: 10px;
}
.align{
    text-align: center;
}
.recepi{
    color: rgb(100, 100, 100);
    font-size: 30px;
    padding-bottom: 25px;
}
.rc-tex{
    color: rgb(185, 182, 182);
    font-weight: 200;
}
.bld{
    box-sizing:border-box;
    border-radius: 10px;
    width: 40%;
    height: 450px;
    margin-left: 2%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 10px 50px rgb(199, 198, 198);  
}
.img-box{
    box-sizing: border-box; 
    border-radius: 10%;
    padding: 10px 10px 35px 10px;
    width: 350px;
    height: 280px;
}
.eating-time{
padding-bottom: 12px;
padding-left: 6px;
font-size: 25px;
color: rgb(54, 54, 54);
}
.eating-title{
padding-left: 6px;
color: rgb(87, 86, 86);
}
.h-font{
    color:rgb(54, 54, 54) ;
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 50px;

}
.p-font{
    color:rgb(87, 86, 86) ;
    font-weight: 300;
    padding-bottom: 50px;
}
.box{
    box-shadow: 10px 0px 50px rgb(199, 198, 198);
}